{
  "extends": ["airbnb","prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "prettier/prettier": ["error"]
  }
}
