{
  "extends": ["airbnb","prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "prettier/prettier": ["error"]
  }
}